@using GeDoc.Models.JuntaMedica.Modelo

@{
    if (Session["Usuario"] == null)
    {
        @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
              .Add("telerik.common.css")
              .Add("telerik.office2007.min.css")
              .Add("telerik.rtl.css")
              .Combined(true)
              .Compress(true)))
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/CRUDGrillas.js")" type="text/javascript"></script>
        <link href="@(Url.Content("~/Content/Site.css"))" rel="stylesheet" type="text/css"/>
        <script src='https://www.google.com/recaptcha/api.js?onload=onloadCallbackReCaptcha&render=explicit&hl=es' async defer></script>
        <style>
            body {
                background: white;
            }
        </style>
    }
    Html.RenderPartial("WaitingCRUD");
}
<div class="iconos" style="text-align: center;">
    @*@{
        if (Session["Usuario"] == null)
        {
            <div style="padding: 1%;">
                <div class="BordeRedondeado" style="width: 100%; text-align: center;">
                    <img src="@Url.Content("~/Content/General/logo msp_1.png")"/>
                    <label style="font-size: x-large; top: 20px; vertical-align: top; position: relative; bottom: 20px;">Dirección de Control y 
Reconocimientos Médicos</label>
                    <img class="imagenes" src="@Url.Content("~/Content/General/logo msp_1.png")"/>
                </div>
            </div>
        }
    }*@
    <div class="BordeRedondeado alert-info" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center;">
        <label style="font-weight: bold;">@(DateTime.Now.Hour >= 12 ? (DateTime.Now.Hour <= 19 ? "Buenas tardes" : "Buenas noches") : "Buenos días"), </label>
        para solicitar una Carta Médica, debe ingrese su Número de documento y hacer click en Buscar
    </div>
    <div id="divCargaDeDocumento" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center;">
        <div>
            <label>Número de Documento: </label>
            <input type="text" placeholder="Ingrese el DNI" id="txtNumeroDocumentoCM" maxlength="8" style="width: 125px;" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
            <button id="btnBuscarCM" class="t-button t-button-icon" onclick="onBuscarAgente();" style="width: 100px;">
                <span class="t-icon t-search"></span> Buscar
            </button>
        </div>
    </div>
    <div id="divAgenteInexistente" class="BordeRedondeado alert-warning" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center; display: none;">
        <label style="font-weight: bold;">¡Atención! </label>
        El Número de Documento que ha ingresado no Existe!
        <p>Debe dirigirse a la "Dirección de Control y Reconocimientos Médicos" y Solicitar el Alta de su Carta Médica.</p>
    </div>
    <div id="divErrorServidor" class="BordeRedondeado alert-danger" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center; display: none;">
        <label style="font-weight: bold;">¡Atención! </label>
        No se ha podido completar la operación, intente en unos minutos nuevamente.
        <p>Si el problema persiste, dirigirse a la "Dirección de Control y Reconocimientos Médicos" y Solicitar el Alta de su Carta Médica.</p>
    </div>
    <div id="divErrorCaptcha" class="BordeRedondeado alert-danger" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center; display: none;">
        <label style="font-weight: bold;">¡Atención! </label>
        Debe ingresar el captcha para poder confirmar la solicitud de carta médica. Haga click en "No soy un robot" para poder continuar.
    </div>
    <div id="divAgenteEncontrado" class="BordeRedondeado alert-success" style="vertical-align: middle; padding: 10px; margin: 10px; text-align: center; display: none;">
        <label>Estimado, <span id="spanNombreAgente" style="font-weight: bold;">CARLOS BUENO RICARDO</span></label>
        <p>Haga click en "Confirmar" para terminar el proceso de Solicitud de Carta Médica.</p>
        <p><b>IMPORTANTE:</b> No olvide llevar todos los estudios y certificados médicos correspondientes.
        </p>
        <!--
        <p>Usted puede concurrir con su médico de cabecera (no siendo obligatorio).</p>
        -->
        <div id="htmlCaptcha" class="BordeRedondeado" style="padding: 10px; margin-bottom: 10px; border-style: none;">
            <!--<div class="g-recaptcha" style="margin-left: 38%; padding: 10px;" data-sitekey="6LeHKw8TAAAAAEb8Gm_K2U_1V36Dqm8m1v3eQlFu"></div>-->
        </div>
        <button class="t-button t-insert t-button-icon" onclick="onGenerarCM();" style="width: 100px;">
            <span class="t-icon t-insert"></span> Confirmar
        </button>
        <button class="t-button t-button-icon" onclick="onCancelarCM();" style="width: 100px;">
            <span class="t-icon t-cancel"></span> Cancelar
        </button>
    </div>

    @{
        if (Session["Usuario"] == null)
        {
            @Html.Telerik().ScriptRegistrar().Globalization(true).DefaultGroup(group => group.Combined(true).Compress(true))
        }
    }

    <div id="divOverlayCM" class="es-overlay" style="z-index: 19014; display: none;"></div>
    <div id="wPopUpMensajeCM" class="t-widget t-window" style="z-index: 19019; display: none;">
        <div class="t-window-titlebar t-header" style="height: 17px;">
            <span class="t-window-title">Solicitud de Carta Médica</span>
        </div>
        <div class="t-window-content t-content" style="">
            <div>
                <label>Carta Médica N°: </label><b><span id="spanNroCM"></span></b>
                <br/>
                <p>Debe presentarse por la <b>Dirección de Control y Reconocimientos Médicos</b> el día <b><span id="spanFechaCM"></span></b> a las <b><span id="spanHoraCM"></span></b> hs.
                </p>
                <br/>
                <p>IMPORTANTE: No olvide llevar todos los estudios y certificados médicos correspondientes.</p>
                <br/>
                <p>Usted debe avisar a su jefe y/o director, antes de las 2 primeras horas de iniciada su jornada laboral, caso contrario será nulo todo lo actuado.
                </p>
            </div>
            <hr/>
            <div style="text-align: center; width: 100%;">
                <button class="t-button t-close t-button-icon" onclick="onCerrarMensajeCM();" style="width: 100px;">
                    <span class="t-icon t-close"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var IdAgente = -1;
    var widgetIdCaptcha;
    var captchaValue = "";

    var verifyCallbackCaptcha = function (response) {
        //alert(response);
        captchaValue = response;
        $("#divErrorCaptcha").hide();
        $("#htmlCaptcha").css("border-style", "none");
    };

    var expiredCallback = function () {
        captchaValue = "";
    };

    function resetCaptcha() {
        captchaValue = "";
        if (widgetIdCaptcha != null) {
            grecaptcha.reset(widgetIdCaptcha);
        }
    }

    var onloadCallbackReCaptcha = function () {
        debugger;
        widgetIdCaptcha = grecaptcha.render('htmlCaptcha', {
            'sitekey': '6LeHKw8TAAAAAEb8Gm_K2U_1V36Dqm8m1v3eQlFu',
            'callback': verifyCallbackCaptcha,
            'theme': 'light',
            'size': 'normal',
            'expired-callback': expiredCallback
        });
    };

    function AjustarAPantalla() {
        //var zoomPantalla = '1';
        if (isMobile()) {
            zoomPantalla = '0.5';
            //$('.imagenes').css({ 'visibility': 'hidden' });
            $('.iconos').css({ 'zoom': zoomPantalla });
        }// else {
        //    $('.imagenes').css({ 'visibility': 'visible' });
        //}

        //if ($(window).width() >= 640) {
        //    $('.iconos').css({ 'width': '100%', 'height': 'auto', 'zoom': zoomPantalla });
        //} else if (($(window).width() >= 320)) {
        //    $('.iconos').css({ 'width': '70%', 'height': 'auto', 'zoom': zoomPantalla });
        //} else if (($(window).width() >= 220)) {
        //    $('.iconos').css({ 'width': '50%', 'height': 'auto', 'zoom': zoomPantalla });
        //} else {
        //    $('.iconos').css({ 'width': '30%', 'height': 'auto', 'zoom': zoomPantalla });
        //}
    }
    //Seleccionamos el primer campo
    $("#divCargaDeDocumento").ready(function () {
        AjustarAPantalla();
        debugger;
        //if (isMobile()) {
        //$("htmlCaptcha").hide();
        //}
        //Asignamos los valores de los campos\\
        CerrarWaitingCRUD();
        $("#txtNumeroDocumentoCM").focus().select();
    });

    function onCancelarCM() {
        if (!isMobile()) {
            resetCaptcha();
        }
        $("#divAgenteEncontrado").hide();
        $("#divAgenteInexistente").hide();
        $("#divErrorServidor").hide();
        $("#divErrorCaptcha").hide();
        $("#txtNumeroDocumentoCM").val("");
        $("#btnBuscarCM").removeClass("t-state-disabled");
        $("#txtNumeroDocumentoCM").removeAttr("disabled");
        $("#txtNumeroDocumentoCM").focus().select();
    }

    function onBuscarAgente() {
        if ($("#txtNumeroDocumentoCM").val().trim() === "") {
            $("#txtNumeroDocumentoCM").focus().select();
            return;
        }

        if ($("#btnBuscarCM").is(".t-state-disabled")) {
            return;
        }

        $($("#htmlCaptcha").find("div")[1]).css("width", "");

        AbrirWaitingCRUD();
        debugger;
        IdAgente = -1;
        var UrlAccion = "@(Session["Usuario"] == null ? Url.Content("onBuscarAgente") : Url.Content("~/DCRM/onBuscarAgente"))";
        $.ajax({
            type: "POST",
            url: UrlAccion,
            data: { nroDocumento: $("#txtNumeroDocumentoCM").val() },
            error: function () {
                CerrarWaitingCRUD();
                $("#txtNumeroDocumentoCM").focus().select();
            },
            success: function (respuesta) {
                CerrarWaitingCRUD();
                if (respuesta.Encontrado) {
                    debugger;
                    $("#divAgenteInexistente").hide();
                    $("#divError").hide();
                    $("#divErrorServidor").hide();
                    var Agente = respuesta.Datos.agtApellidoyNombre;
                    $("#divAgenteEncontrado").show();
                    $("#btnBuscarCM").addClass("t-state-disabled");
                    $("#txtNumeroDocumentoCM").attr("disabled", "disabled");
                    $("#spanNombreAgente").text(Agente);
                    $(".t-button.t-insert.t-button-icon").focus().select();
                    IdAgente = respuesta.Datos.agtId;
                    if (respuesta.Datos.cmedId > 0) {
                        onAbrirMensajeCM(respuesta.Datos);
                    }
                } else {
                    $("#divAgenteInexistente").show();
                    $("#txtNumeroDocumentoCM").val("");
                    $("#txtNumeroDocumentoCM").focus().select();
                }
            }
        });
    }


    function CentrarCRUDGestionCM() {
        var AnchoPantalla = $(window).width();
        var AltoPantalla = $(window).height();
        if (isMobile()) {
            $('#wPopUpMensajeCM').css({
                position: 'absolute',
                left: 0,
                top: 50
            });
        } else {
            if ("@(Session["Usuario"] == null ? "AJUSTAR" : "NOAJUSTAR")" === "AJUSTAR" || isMobile()) {
                AjustarAPantalla();
            } else {
                AnchoPantalla = $("#wCRUDJuntaMedicaGestionCM").width();
                AltoPantalla = $("#wCRUDJuntaMedicaGestionCM").height();
            }
            //if ($(window).width() <= 640) {
            $('#wPopUpMensajeCM').css({
                position: 'absolute',
                left: (AnchoPantalla - $('#wPopUpMensajeCM').outerWidth()) / 2,
                top: (AltoPantalla - $('#wPopUpMensajeCM').outerHeight()) / 2
            });
        }
    }

    $(window).resize(function () {
        // aquí le pasamos la clase o id de nuestro div a centrar (en este caso "caja")
        CentrarCRUDGestionCM();
    });

function onGenerarCM() {
    //Genera una nueva carta médica//
    if (!isMobile() && "@(Session["Usuario"] == null ? "VALIDAR" : "")" === "VALIDAR") {
        if (captchaValue == "" && $("#htmlCaptcha").find("iframe").length > 0) {
        $("#divErrorCaptcha").show();
        $("#htmlCaptcha").css("border-style", "dashed");
        $("#htmlCaptcha").css("border-color", "#a94442");
        $("#htmlCaptcha").css("border-width", "thin");
        return;
        }
    }

    AbrirWaitingCRUD();
    debugger;
    var UrlAccion = "@(Session["Usuario"] == null ? Url.Content("onConfirmaCM") : Url.Content("~/DCRM/onConfirmaCM"))";
    $.ajax({
        type: "POST",
        url: UrlAccion,
        data: { agtId: IdAgente },
        error: function () {
            CerrarWaitingCRUD();
            onCancelarCM();
            $("#divErrorServidor").show();
        },
        success: function (respuesta) {
            CerrarWaitingCRUD();
            if (respuesta.Encontrado) {
                onAbrirMensajeCM(respuesta.Datos);
            } else {
                CerrarWaitingCRUD();
                onCancelarCM();
                $("#divErrorServidor").show();
            }
        }
    });
}

function onAbrirMensajeCM(Datos) {
    // aquí le pasamos la clase o id de nuestro div a centrar (en este caso "caja")
    debugger;
    CentrarCRUDGestionCM();

    $("#spanNroCM").text(Datos.cmedNumero);
    $("#spanFechaCM").text(Datos.FechaTexto);
    $("#spanHoraCM").text(Datos.Hora);
    $("#divOverlayCM").show();
    $("#wPopUpMensajeCM").show();
    $(".t-button.t-close.t-button-icon").focus().select();
}
function onCerrarMensajeCM() {
    // aquí le pasamos la clase o id de nuestro div a centrar (en este caso "caja")
    $("#divOverlayCM").hide();
    $("#wPopUpMensajeCM").hide();
    onCancelarCM();
}

$("#txtNumeroDocumentoCM").keydown(function (e) {
    $("#divErrorServidor").hide();
    if (e.which === 13) {
        onBuscarAgente();

        e.preventDefault();
        e.stopPropagation();
    }
});
</script>
