@model GeDoc.catHCAduProTransitoriosWS
@{
    ViewBag.Title = "setHistoriaClinicaExamenFisico";
    ViewBag.eventoOnChange = "onChange";
}

<script>
    function onChangeaduTRFecha() {
        $(this).removeAttr("title");
        $(this).removeClass("ES-ErrorValidacion");
        $("#divHCMensajeErrorProblemasTransitorios").hide("slide");
    }

    function ValidarfrmHCProblemasTransitorios() {
        $("#divHCMensajeErrorProblemasTransitorios").hide("slide");

        if (ValidarHCFecha("aduTRFecha")) {
            onMostarErrorGeneralHC("Fecha incorrecta, no puede ser ni mayor a la fecha actual, ni menor a 1920.", "#aduTRFecha", "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
            return false;
        }

        if ($("#aduTRProblema").val() === "") {
            onMostarErrorGeneralHC("Debe ingresar el problema transitorio.", "#aduTRProblema", "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
            return false;
        }

        if ($("#aduTRCodigo").val() === "") {
            onMostarErrorGeneralHC("Debe ingresar el código del medicamento.", "#aduTRCodigo", "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
            return false;
        }

        if ($("#aduTRMedi").val() === "") {
            onMostarErrorGeneralHC("Debe ingresar el medicamento.", "#aduTRMedi", "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
            return false;
        }

        return true;
    }

</script>

@using (Html.BeginForm("setHistoriaClinicaProblemasTransitorios", "HistoriaClinica", FormMethod.Post, new { id = "popTransitorios" }))
{ 
 @Html.HiddenFor(model => model.hcaduid)
 @Html.HiddenFor(model => model.aduTRId)

    @*<div style="text-align: center; margin-top: 10px;">
        <div id="btnAceptar" class="t-button" onclick="onAceptarProblemasTransitorios();" title="Confirmar">
            <img src="@Url.Content("~/Content/General/Vacio-Transparente.png")" alt="Aceptar" height="18" width="18" style="background: url('@Url.Content("~/Content/" + Session["Version"] + "/" + Session["Estilo"])/sprite.png') no-repeat -32px -336px; vertical-align: middle;"/>
            <label id="lblAceptarRecepcion" style="cursor: pointer;">Aceptar</label>
        </div>
        <div id="btnCancelar" class="t-button" onclick="onCancelarProblemasTransitorios()" title="Cancelar">
            <img src="@Url.Content("~/Content/General/Vacio-Transparente.png")" alt="Cancelar" height="18" width="18" style="background: url('@Url.Content("~/Content/" + Session["Version"] + "/" + Session["Estilo"])/sprite.png') no-repeat -46px -336px; vertical-align: middle;"/>
            <label id="lblCancelarRecepcion" style="cursor: pointer;">Cancelar</label>
        </div>
    </div>*@

<table style="width: 100%; border: none;">
    <tr style="border: none; height: 62px;">
        <td colspan="1" style="border: none;">
            <div id="btnAceptarProblemasTransitorios" class="t-button" onclick="onAceptarProblemasTransitorios();" title="Guardar cambios en Historial Familiar">
                <span style="cursor: pointer;"><i style="color: cornflowerblue;" class="fa fa-2x fa-save"></i></span>
                <label style="cursor: pointer; vertical-align: super;">Guardar cambios</label>
            </div>
        </td>
        <td colspan="3" style="border: none;">
            <div id="divHCMensajeErrorProblemasTransitorios" class="BordeRedondeado alert-danger" style="text-align: center; display: none; width: 100%;">
                <table style="width: 100%; border: none;">
                    <tr style="border: none;">
                        <td style="border: none; text-align: center; width: 5%;" rowspan="2">
                            <i class="fa fa-2x fa-warning"></i>
                        </td>
                        <td colspan="1" style="border: none;">
                            <div style="font-weight: bold; text-align: center;">¡Atención!</div>
                        </td>
                    </tr>
                    <tr style="border: none;">
                        <td colspan="2" style="border: none;">
                            <span id="spanMensajeProblemasTransitorios">Mensaje</span>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<hr/>
        
    <table style="border: none;">
        <tr style="border: none;">
            <td style="border: none;">Fecha</td>
            <td style="border: none;">@Html.EditorFor(model => model.aduTRFecha, new { id = "aduTRFecha" })</td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">Problema</td>
            <td style="border: none;">@Html.TextBoxFor(model => model.aduTRProblema, new { id = "aduTRProblema" })</td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">Código</td>
            <td style="border: none;">@Html.TextBoxFor(model => model.aduTRCodigo, new { id = "aduTRCodigo" })</td>
        </tr>
        <tr style="border: none;">
            <td style="border: none;">Medicación</td>
            <td style="border: none;">@Html.TextBoxFor(model => model.aduTRMedi, new { id = "aduTRMedi"})</td>
        </tr>
    </table>
}
<script type="text/javascript">
    $(".t-icon.t-icon-calendar").attr("title", "Abrir calendario");
    $("#aduTRProblema").css("width", "300px");
    $("#aduTRMedi").css("width", "410px");
    $("#popTransitorios :input:visible:enabled:first").focus().select();
    //Paso con enter de campo a campo
    $('#popTransitorios :input').bind('keypress', function (e) {
        if (e.which == 13) {
            debugger;
            e.preventDefault();
            e.stopPropagation();
            Avanzar(this);
        }
        $(this).removeAttr("title");
        $(this).removeClass("ES-ErrorValidacion");
        $("#divHCMensajeErrorProblemasTransitorios").hide("slide");
    });

    function onAceptarProblemasTransitorios() {
        if (!ValidarfrmHCProblemasTransitorios()) {
            return;
        }
        AbrirWaitingCRUD();
        $.ajax({
            type: "POST",
            url: $('#popTransitorios').attr("action"),
            data: $('#popTransitorios').serialize(),
            error: function () {
                CerrarWaitingCRUD();
                onMostarErrorGeneralHC("Error al intentar guardar información.", "#aduTRMedi", "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
            },
            success: function (respuesta) {
                CerrarWaitingCRUD();

                if (respuesta.Error) {
                    onMostarErrorGeneralHC(respuesta.Mensaje, "#" + respuesta.Foco, "spanMensajeProblemasTransitorios", "divHCMensajeErrorProblemasTransitorios", null);
                }
                else {
                    $("#gridHCListaProblemasTransitorios").data("tGrid").ajaxRequest();
                    onCancelarProblemasTransitorios();
                }
            }
        });
    }
</script>